BODY {
	FONT-SIZE: 10pt; COLOR: #E8E8E8; FONT-FAMILY: arial,verdana,sans-serif;
            background: black;
}
P {
	FONT-SIZE: 10pt; COLOR: #E8E8E8; FONT-FAMILY: arial,verdana,sans-serif
}
SPAN {
	FONT-SIZE: 10pt; COLOR: #3e9cdc; FONT-FAMILY: arial,verdana,sans-serif
}
PRE {
	FONT-SIZE: 10pt; COLOR: #3e9cdc
}
BLOCKQUOTE {
	FONT-SIZE: 10pt; COLOR: #3e9cdc; FONT-FAMILY: arial,verdana,sans-serif
}
CITE {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial,verdana,sans-serif
}
EM {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial,verdana,sans-serif
}
B {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #D8D8D8; FONT-STYLE: normal; FONT-FAMILY: arial,verdana,sans-serif
}


.copyright {
    color: silver;
    font-size: 10px;
    text-align: center;
}


/* war3-human-ie */


B.small {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial,verdana,sans-serif
}
B.normal {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ada8a4; FONT-STYLE: normal; FONT-FAMILY: arial,verdana,sans-serif; LETTER-SPACING: 2px
}
B.gray {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial,verdana,sans-serif
}
SMALL {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial,verdana,sans-serif
}
SMALL.normal {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #3e9cdc; FONT-STYLE: normal; FONT-FAMILY: arial,verdana,sans-serif
}
SMALL.gray {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #aaaaaa; FONT-STYLE: normal; FONT-FAMILY: arial,verdana,sans-serif
}
SMALL.header {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial,verdana,sans-serif
}
LI {
	FONT-SIZE: 10pt; COLOR: #3e9cdc; FONT-FAMILY: arial,verdana,sans-serif
}
H2 {
	COLOR: #ffffff; FONT-FAMILY: arial,verdana,sans-serif
}
SPAN.header {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #ffffff; FONT-FAMILY: arial,verdana,sans-serif; LETTER-SPACING: 3px
}
SPAN.header2 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,verdana,sans-serif; LETTER-SPACING: 2px
}
SPAN.header3 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: arial,verdana,sans-serif; LETTER-SPACING: 2px
}
SPAN.header4 {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #ffffff; FONT-FAMILY: arial,verdana,sans-serif
}
SPAN.header5 {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #ffffff; FONT-FAMILY: arial,verdana,sans-serif; LETTER-SPACING: 2px
}
SPAN.colorRed {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #da0000; FONT-FAMILY: arial,verdana,sans-serif
}
DIV.tooltip {
	BORDER-RIGHT: #c8b038 0px solid; BORDER-TOP: #c8b038 1px solid; LEFT: 0px; VISIBILITY: hidden; BORDER-LEFT: #c8b038 0px solid; WIDTH: 191px; BORDER-BOTTOM: #c8b038 1px solid; FONT-FAMILY: arial,verdana,sans-serif; POSITION: absolute; BACKGROUND-COLOR: black
}
TD.tooltip {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #3e9cdc; FONT-STYLE: normal
}
IMG.border {
	BORDER-LEFT-COLOR: #29282d; BORDER-BOTTOM-COLOR: #29282d; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #29282d; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #29282d; BORDER-BOTTOM-STYLE: solid
}
A:link {
	FONT-WEIGHT: bold; COLOR: #c8b038; FONT-FAMILY: arial,verdana,sans-serif
}
A:visited {
	FONT-WEIGHT: bold; COLOR: #c8b038; FONT-FAMILY: arial,verdana,sans-serif
}
A:hover {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: arial,verdana,sans-serif
}
A:active {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: arial,verdana,sans-serif
}
A.header:link {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: #d1d1d1; PADDING-TOP: 4px; FONT-FAMILY: arial,verdana,sans-serif
}
A.header:visited {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: #d1d1d1; PADDING-TOP: 4px; FONT-FAMILY: arial,verdana,sans-serif
}
A.header:hover {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: #ffffff; PADDING-TOP: 4px; FONT-FAMILY: arial,verdana,sans-serif; BACKGROUND-COLOR: #336ebb
}
A.header:active {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: #ffffff; PADDING-TOP: 4px; FONT-FAMILY: arial,verdana,sans-serif
}
A.grayButton:link {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: #d1d1d1; PADDING-TOP: 4px; FONT-FAMILY: arial,verdana,sans-serif
}
A.grayButton:visited {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: #d1d1d1; PADDING-TOP: 4px; FONT-FAMILY: arial,verdana,sans-serif
}
A.grayButton:hover {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: #ffffff; PADDING-TOP: 4px; FONT-FAMILY: arial,verdana,sans-serif; BACKGROUND-COLOR: #4d4d4d
}
A.grayButton:active {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: #ffffff; PADDING-TOP: 4px; FONT-FAMILY: arial,verdana,sans-serif
}
A.tiny:link {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #c8b038; FONT-FAMILY: arial,verdana,sans-serif
}
A.tiny:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #c8b038; FONT-FAMILY: arial,verdana,sans-serif
}
A.tiny:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,verdana,sans-serif
}
A.tiny:active {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,verdana,sans-serif
}
A.tiny:link {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #c8b038; FONT-FAMILY: arial,verdana,sans-serif
}
A.tiny:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #c8b038; FONT-FAMILY: arial,verdana,sans-serif
}
A.tiny:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,verdana,sans-serif
}
A.tiny:active {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,verdana,sans-serif
}
A.bracket:link {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #cba300; FONT-FAMILY: arial,verdana,sans-serif
}
A.bracket:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #cba300; FONT-FAMILY: arial,verdana,sans-serif
}
A.bracket:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,verdana,sans-serif
}
A.bracket:active {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,verdana,sans-serif
}
TD.ladderTable {
	BORDER-RIGHT: #163f76 1px solid; BORDER-TOP: #163f76 1px solid; BORDER-LEFT: #163f76 1px solid; BORDER-BOTTOM: #163f76 1px solid
}
TD.ladderBase {
	BORDER-RIGHT: #163f76 1px solid; BORDER-TOP: #163f76 1px solid; BORDER-LEFT: #163f76 1px solid; BORDER-BOTTOM: #163f76 1px solid; BACKGROUND-COLOR: #0c0c0c
}
TD.tableHeader {
	BORDER-RIGHT: #508edf 1px solid; BORDER-TOP: #508edf 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BORDER-LEFT: #081527 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #081527 1px solid; BACKGROUND-COLOR: #153c6f
}
TD.blueButton {
	BORDER-RIGHT: #508edf 1px solid; BORDER-TOP: #508edf 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BORDER-LEFT: #081527 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #081527 1px solid; BACKGROUND-COLOR: #285b9e; TEXT-ALIGN: center
}
TD.grayButton {
	BORDER-RIGHT: #979797 1px solid; BORDER-TOP: #979797 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BORDER-LEFT: #171717 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #171717 1px solid; BACKGROUND-COLOR: #282828; TEXT-ALIGN: center
}
TD.tableRank {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 4px; BORDER-LEFT: #000000 1px solid; COLOR: #ffffff; PADDING-TOP: 4px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #00002e; TEXT-ALIGN: center
}
TD.tableRankAlt {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 4px; BORDER-LEFT: #000000 1px solid; COLOR: #ffffff; PADDING-TOP: 4px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #00002e; TEXT-ALIGN: center
}
TD.tableData {
	BORDER-RIGHT: #000000 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000000 0px solid; PADDING-LEFT: 4px; FONT-SIZE: 9pt; PADDING-BOTTOM: 4px; BORDER-LEFT: #000000 0px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #000000 0px solid; TEXT-ALIGN: center
}
TD.tableDataAlt {
	BORDER-RIGHT: #0d0d0d 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #0d0d0d 0px solid; PADDING-LEFT: 4px; FONT-SIZE: 9pt; PADDING-BOTTOM: 4px; BORDER-LEFT: #0d0d0d 0px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #0d0d0d 0px solid; TEXT-ALIGN: center
}
TD.ladderTableGray {
	BORDER-RIGHT: #464646 1px solid; BORDER-TOP: #464646 1px solid; BORDER-LEFT: #464646 1px solid; BORDER-BOTTOM: #464646 1px solid
}
TD.tableHeaderGray {
	BORDER-RIGHT: #979797 1px solid; BORDER-TOP: #979797 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BORDER-LEFT: #171717 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #171717 1px solid; BACKGROUND-COLOR: #424242
}
TD.tableFillerGray {
	BORDER-RIGHT: #171717 1px solid; BORDER-TOP: #171717 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND-IMAGE: url(/war3/images/crossshade-bg.gif); BORDER-LEFT: #979797 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #979797 1px solid
}
TD.tableRankGray {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BORDER-LEFT: #000000 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #171717
}
TD.tableRankAltGray {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BORDER-LEFT: #000000 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #00002e
}
TD.tableDataGray {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #080908
}
TABLE.profile {
	BORDER-RIGHT: #313131 1px solid; BORDER-TOP: #313131 1px solid; BORDER-LEFT: #313131 1px solid; BORDER-BOTTOM: #313131 1px solid; BACKGROUND-COLOR: #121212
}
IMG.profile {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #313131 1px solid; BORDER-BOTTOM: #313131 1px solid
}
INPUT.searchBox {
	BORDER-RIGHT: #3a3a3a 1px solid; BORDER-TOP: #3a3a3a 1px solid; BORDER-LEFT: #979797 1px solid; COLOR: #d1d1d1; BORDER-BOTTOM: #979797 1px solid; BACKGROUND-COLOR: #000000
}
TD.menuHeader {
	BORDER-RIGHT: #5d5d5d 1px solid; BORDER-TOP: #5d5d5d 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #1e1d1c 1px solid; COLOR: #cba300; BORDER-BOTTOM: #1e1d1c 1px solid; FONT-FAMILY: arial,verdana,sans-serif; BACKGROUND-COLOR: #2e2d2b
}
TD.headerOutline {
	BORDER-RIGHT: #271a13 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #271a13 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #271a13 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #271a13 1px solid
}



/* war3-ladder-ranking */

TD.rankingOutline {
	BORDER-RIGHT: #464646 1px solid; BORDER-TOP: #464646 1px solid; BORDER-LEFT: #464646 1px solid; BORDER-BOTTOM: #464646 1px solid
}
TD.rankingHeader {
	BORDER-RIGHT: #5d5d5d 1px solid; BORDER-TOP: #5d5d5d 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #1e1d1c 1px solid; COLOR: #cba300; BORDER-BOTTOM: #1e1d1c 1px solid; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #2e2d2b; TEXT-ALIGN: center
}
TD.rankingFiller {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 8pt; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #1f1e1d; TEXT-ALIGN: center
}
TD.rankingRow {
	BORDER-RIGHT: #E6E6E6 0px solid; PADDING-RIGHT: 3px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; BORDER-LEFT: #000000 0px solid; COLOR: #ffffff; PADDING-TOP: 3px; BORDER-BOTTOM: #000000 0px solid; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-ALIGN: center
}
TD.rankingRowLeft {
	BORDER-RIGHT: #000000 0px solid; PADDING-RIGHT: 3px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; BORDER-LEFT: #000000 0px solid; COLOR: #ffffff; PADDING-TOP: 3px; BORDER-BOTTOM: #000000 0px solid; FONT-FAMILY: arial,helvetica,sans-serif
}
TD.rankingRowRight {
	BORDER-RIGHT: #000000 0px solid; PADDING-RIGHT: 3px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; BORDER-LEFT: #000000 0px solid; COLOR: #ffffff; PADDING-TOP: 3px; BORDER-BOTTOM: #000000 0px solid; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-ALIGN: right
}
TD.rankingRowAlt {
	BORDER-RIGHT: #000000 0px solid; PADDING-RIGHT: 3px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; BORDER-LEFT: #000000 0px solid; COLOR: #ffffff; PADDING-TOP: 3px; BORDER-BOTTOM: #000000 0px solid; FONT-FAMILY: arial,helvetica,sans-serif
}
TD.ranking {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-ALIGN: center
}
SPAN.rankingName {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #cba300; FONT-FAMILY: arial,helvetica,sans-serif
}
#colorRed {
	COLOR: red
}
A.button:link {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; COLOR: #cba300; PADDING-TOP: 3px
}
A.button:visited {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; COLOR: #cba300; PADDING-TOP: 3px
}
A.button:hover {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; COLOR: #ffffff; PADDING-TOP: 3px; BACKGROUND-COLOR: #565553
}
A.button:active {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; COLOR: #ffffff; PADDING-TOP: 3px
}
A:link {
	FONT-WEIGHT: bold; COLOR: #cba300; FONT-FAMILY: arial,helvetica,sans-serif
}
A:visited {
	FONT-WEIGHT: bold; COLOR: #aaaaaa; FONT-FAMILY: arial,helvetica,sans-serif
}
A:hover {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif
}
A:active {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif
}
A.rankingName:link {
	COLOR: #cba300
}
A.rankingName:visited {
	COLOR: #cba300
}
A.rankingName:hover {
	COLOR: #cba300; BACKGROUND-COLOR: #565553
}
A.rankingName:active {
	COLOR: #cba300
}
A.ranking:link {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: none
}
A.ranking:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif
}
A.ranking:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: underline
}
A.ranking:active {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif
}
TABLE.mainTable {
	BACKGROUND-POSITION: right 50%; BACKGROUND-IMAGE: url(/war3/images/ladder-revise/right-bg.gif); BACKGROUND-REPEAT: repeat-y
}
TABLE.expOutline {
	BORDER-RIGHT: #5a5d5a 1px solid; BORDER-TOP: #5a5d5a 1px solid; BORDER-LEFT: #5a5d5a 1px solid; BORDER-BOTTOM: #5a5d5a 1px solid; BACKGROUND-COLOR: #000000
}
#levelbarParent {
	WIDTH: 70px; POSITION: relative; HEIGHT: 1px
}
#levelbarChild {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; LEFT: 30px; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif; POSITION: absolute; TOP: 1px
}
#levelbarChild2 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; LEFT: 55px; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif; POSITION: absolute; TOP: 4px
}
P.info {
	FONT-SIZE: 10pt; COLOR: #ab9364; FONT-FAMILY: arial,helvetica,sans-serif
}





/* server status */

div.status-info {
    font: 13px verdana, arial, tahoma;
    padding: 5px;
}
span#head-content{margin-left: 20px; color: white;}

div#round-header{ background: #497c00; width: auto; margin-top: 20px; margin-bottom: 10px}
b.rtop b, b.rbottom b{display:block;height: 1px; overflow: hidden; background: #497c00}
b.rtop, b.rbottom{display:block;background: black}b.r1{margin: 0 5px}b.r2{margin: 0 3px}b.r3{margin: 0 2px}b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 2px}

div.server-status { padding-left: 20px; color: white; }
div.server-status a { color: #e1e1e1; text-decoration: none; font-weight: normal; }
div.server-status a:hover { text-decoration: underline; color: white; }

div.table {
    display:table;
}
div.td {
    width: 150px;
    display: table-cell !important;
    display: inline; /* для IE */
}
div#clienttag {
    width: 50px;;
}
span.server-down {
    color: red;
    font-weight: bold;
}

div.error {
    text-align: center;
    border: 1px solid #cc0000;
    background: #993333;
    padding: 5px 10px 5px 10px;
    color: white;
    font-weight: normal;
}


/*  installation */

.install-button {
    width: 100%;
    text-align: center;
}

.install-button input[type="submit"] {
    color: #333333; font-weight: bold; width: 200px; height: 40px;
}

table.install-form {
    font-size: 13px;
    width: 100%;
}
