html {
	height:100%;
	
}

body {
	margin:0;padding:0;
	width:100%;
}
table {
	border-collapse:collapse;
}
table td {
	padding:0;
}
a {
	color:#313030;
	text-decoration: none;
}

div {
    display: block;
}

.block h1
{
    color: #313030;
    font: normal normal normal 1.3em/normal Georgia;
    letter-spacing: 0.4px;
    padding: 15px 0px 5px;
}
.times {
    font-family: Times !important;
}

.width100 {
    width: 100%;
}
.width35 {
    width: 35px;
}
.width40, .width40c {
    width: 40px;
}
.width45 {
    width: 45px;
}
.width50, .width50c {
    width: 50px;
}
.width55 {
    width: 55px;
}
.width60 {
    width: 60px;
}
.width90 {
    width: 90px;
}
.width120 {
    width: 120px;
}
.width130 {
    width: 130px;
}
.width140 {
    width: 140px;
}
.width150 {
    width: 150px;
}
.width155 {
    width: 155px;
}
.width160 {
    width: 160px;
}
.width170 {
    width: 170px;
}
.width200 {
    width: 200px;
}
.width210 {
    width: 210px;
}
.width215 {
    width: 215px;
}




.width100px {
    width: 100px;
}
.width80c, .width80 {
    width: 80px;
}
.width110c {
    width: 110px;
}
.width80r {
    text-align: right;
    width: 80px;
}
.width200c, .width180c, .width20c, .width60c, .width80c, .width75c, .width83c, .width40c, .width90c, .width70c, .width105c, .width120c, .width190c, .width50c, .width160c, .width110c {
    text-align: center;
}
.width70p10 {
    padding: 0px 0px 0px 10px;
    width: 70px;
}

.padding15 {
    float: left;
    padding-bottom: 20px;
}


.pdl5 {
    padding-left: 5px !important;
}
.bdt {
    border-top: 1px solid #DDDCDC;
}

.t-im {
    float: left;
}

.t-corp2 {
    border-bottom: 1px solid #E7E7E7;
}
.t-corp2, .t-corp4 {
    float: left;
    height: 15px;
    padding: 7px 0px 5px;
    width: 100%;
}
.t-corp3 {
    padding: 6px 0px;
}
.t-corp3, .t-corp5 {
    border-bottom: 1px #DDDCDC solid;
    float: left;
    width: 100%;
}


.t-hover-1 {
    background: #F4F4FB;
}
.t-hover-2 {
    background: #EFEFEF;
}
.t-hover-1:hover, .t-hover-2:hover {
    background: #DDDCDC;
}

.field1, .field1n {
    color: #313030;
    float: left;
    font: normal normal normal 0.7em/normal Tahoma;
    padding: 0px 0px 0px 3px;
}
.field2 {
    color: #313030;
    float: left;
    font: normal normal normal 0.7em/normal Tahoma;
}
.field6 {
    color: #313030;
    float: left;
    font: normal normal normal 0.8em/normal Tahoma;
}
.field7, .field8 {
    color: #313030;
    float: left;
    font: normal normal normal 0.7em/normal Tahoma;
    text-align: center;
}


.field1 a {
	color:#535353;text-decoration:underline;
}
.field2 a {
	color:#186296;text-decoration:underline;
}
.field2 a:hover, .field1 a:hover {
	text-decoration:underline;
	color:#C83A13;
}

/* sort-down arrow */
.down-a {
    background: url(../images/down_arrow.gif) no-repeat 0px 80%;
    padding-left: 4px;
    padding-top: 4px;
    height: 12px;
    width: 7px;
    float: left;
}
.top-a {
    background: url(../images/top_arrow.gif) no-repeat 0px 80%;
    padding-left: 4px;
    padding-top: 4px;
    height: 12px;
    width: 7px;
    float: left;
}



/* columns */
.pg-left {
    float: left;
    width: 49%;
}
.pg-right {
    float: right;
    width: 49%;
}
.clear {
    clear: both;
    font: normal normal normal 1px/normal Tahoma;
    height: 0px;
    overflow: hidden;
}


#container-left {
    margin: 0px auto;
    padding: 5px 0px 50px;
    width: 620px;
}

.top-zag h1 {
    float: left;
    color: #BBB;
    font: normal normal bold 1.5em/normal Tahoma;
    line-height: 23px;
    padding: 0px 0px 6px;
}

.teamgames {
    float: right;
    padding: 15px 15px 0px 10px;
}
    .tg-sc {
	float: left;
	padding: 5px 0px 0px 10px;
    }
    .tg-sc a img {
	width: 30px;
	height: 14px;
	opacity:.5;filter:alpha(opacity=50);-moz-opacity:.5
    }
    .tg-sc a:hover img{
	opacity:1.0;filter:alpha(opacity=100);-moz-opacity:1.0
    }
    .tg-sc a img {border:none;}




/* match details  */
.details-anchor {
    display: none;
    float: left;
    position: relative;
    visibility: hidden;
}

/* rank icons */
.d1 { background: #DDD url(../images/starcraft/rank/d1.jpg) no-repeat; }
.d2 { background: #DDD url(../images/starcraft/rank/d2.jpg) no-repeat; }
.d3 { background: #DDD url(../images/starcraft/rank/d3.jpg) no-repeat; }
.c1 { background: #DDD url(../images/starcraft/rank/c1.jpg) no-repeat; }
.c2 { background: #DDD url(../images/starcraft/rank/c2.jpg) no-repeat; }
.c3 { background: #DDD url(../images/starcraft/rank/c3.jpg) no-repeat; }
.b1 { background: #DDD url(../images/starcraft/rank/b1.jpg) no-repeat; }
.b2 { background: #DDD url(../images/starcraft/rank/b2.jpg) no-repeat; }
.b3 { background: #DDD url(../images/starcraft/rank/b3.jpg) no-repeat; }
.a1 { background: #DDD url(../images/starcraft/rank/a1.jpg) no-repeat; }
.a2 { background: #DDD url(../images/starcraft/rank/a2.jpg) no-repeat; }
.a3 { background: #DDD url(../images/starcraft/rank/a3.jpg) no-repeat; }

.a3, .a2, .a1, .b3, .b2, .b1, .c3, .c2, .c1, .d3, .d2, .d1, .cpu, .ooooo {
    float: left;
    height: 14px;
    margin-right: 5px;
    width: 28px;
}

/* status icons */
.off { background: url(../images/off.gif) no-repeat 0% 100%; }
.on { background: url(../images/on.gif) no-repeat 0% 100%; }

.off, .on {
    float: left;
    height: 11px;
    padding: 2px 14px 0px 0px !important;
    width: 27px;
}
